body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #d7bde2;
}

header {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: gray;
}

.menu {
    background-color: #d98880;
}

.menu div {
    display: inline-block;
    vertical-align: top;

    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 1%;

    background-color: #c39bd3;
    color: white;
    text-decoration: none;

    font-size: 19px;
    font-weight: bold;
}

.menu div:hover{
    transform: scale(1.1);
    background-color: #8e44ad;
}

main {
    margin: 2.5%;
    padding: 1%;
    max-height: 100%;

    text-align: center;
    color:  #2e4053;
}

.bas em {
    text-align: center;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: purple;

    color: white;
    font-size: large;
}

.bas {
    display: flex;
    justify-content: space-between;
}

.gauche, .centre, .droit {
    flex: 1;
    text-align: center;
}



ul {
    list-style: none;
}

